body {
	margin: auto;
    min-width: 300px;
    font-family: 'Raleway', sans-serif;
}

#container {
	width: 90%;
    max-width: 1200px;
    margin: auto;
}

/* HEADER */

header {
	display: flex;
    justify-content: space-between;
}

nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

nav img {
    margin: auto;
    margin-left: 5%;
}

nav p {
    margin: auto;
    margin-right: 5%;
    padding: 30px 0 30px 0;
  
    color: #0065fc;
    font-weight: 700;
    border-top: 4px solid #ffffff;
}

nav ul {
    list-style-type: none;
  
    display: flex;
    width: 100%;
    padding: 0;
}

nav li {
    width: 100%;
    text-align: center;
}

nav a {
    display: inline-block;
    width: 100%;
  
    padding-bottom: 15px;
    border-bottom: 4px solid #f2f2f2;
  
    text-decoration: none;
    color: black;
    font-weight: 400;
}

nav li a:hover {
    border-bottom: 4px solid #0065fc;
    color: #0065fc;
}

/* END HEADER */

/* HEADER RESPONSIVE */
@media screen and (min-width: 600px) {

    nav {
        height: 70px;
        justify-content: flex-end;
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    nav img {
        margin: 0;
        margin-bottom: -8px;
    }

    nav p {
        order: 3;
        margin: 0;
        margin-left: 30px;
        padding-bottom: 0;
    }
    
    nav ul {
        width: auto;
        margin: auto;
        margin-right: 0;
    }

    nav li a {
        width: auto;
        padding: 30px;
        padding-top: 45px;
    
        border-bottom: 0;
        border-top: 4px solid #f2f2f2;
    }

    nav li a:hover {
        color: #0065fc;
        border-bottom: 0;
        border-top: 4px solid #0065fc;
      }

}
/* END HEADER RESPONSIVE */

/* SEARCH */

#search {
    padding: 20px 0;
}

    /* SEARCHCITY*/

    form {
        position: relative;
        display: flex;
        max-width: 400px;
        height: 50px;
        border: 0;
    }   

    form span {
        width: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        background-color: #f2f2f2;
        border-radius: 10px 0 0 10px;
    }

    form input {
        flex-grow: 2;
        padding-left: 15px;

        border: 1px solid #f2f2f2;
        border-radius: 0 10px 10px 0;

        font-size: 16px;
        font-weight: 600;
    }

    form button {
        width: 60px;
        height: 50px;
    
        position: absolute;
        top: 0;
        right: 0;
    
        border: 0;
        border-radius: 10px;
    
        background-color: #0065fc;
        color: white;
        font-size: 16px;
        font-weight: 500;
    }

    #searchWord {
        display: none;
    }

    /* END SEARCHCITY*/ 
   
    /* SEARCHFILTERS*/

    #searchFilters {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        margin-top: 20px;
    }

    #searchFilters p,
    #searchFilters li {
        font-size: 20px;
        font-weight: 800;
    }

    #searchFilters p {
        margin: 0;
        margin-right: 1em;
        margin-bottom: 10px;
    }

    #searchFilters ul {
        display: flex;
        flex-wrap: wrap;
      
        list-style-type: none;
        padding-left: 0;
        margin-top: 0;
    }

    #searchFilters ul li {
        display: flex;
        position: relative;
      
        padding: 0;
        margin: 5px;
      
        border-radius: 40px;
        border: 2px solid #f2f2f2;
    }
    
    .searchFiltersIcon {
        display: flex;
        justify-content: center;
        align-items: center;
      
        position: absolute;
      
        width: 25px;
        height: 25px;
        padding: 10px;
      
        border-radius: 40px;
        background-color: #deebff;
        color: #0065fc;
    }

    .searchFiltersName {
        padding: 10px 20px 10px 55px;
    }

    /* END SEARCHFILTERS*/
    
    /* SEARCHINFO*/

    #searchInfo {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        margin-top: 20px;
    }

    .searchInfoIcon {
        display: flex;
        justify-content: center;
        align-items: center;
                  
        width: 15px;
        height: 15px;
        padding: 10px;
        margin-right: 10px;
        
        border: 2px solid #f2f2f2;
        border-radius: 25px;
        color: #0065fc;
        background-color: #FFFFFF;
    }

    /* END SEARCHINFO*/

/* END SEARCH */

/* SEARCH RESPONSIVE */
@media screen and (min-width: 600px) {

    form {
        position: initial;
        max-width: 500px;  
    }

    form button {
        position: initial;
        border-radius: 0px 10px 10px 0;
        flex-grow: 3;
    }

    #searchWord {
        display: initial;
    }

    #iconSearch {
        display: none;
    }

}
/* END SEARCH RESPONSIVE */

/*MAIN*/

/*ACCOMMODATIONS*/

#accommodations {
    display: flex;
    flex-direction: column  ;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

    /*CITY ACCOMMODATIONS*/

    #cityAccommodations {
        background-color: white;
    }

    #cityAccommodations {
        order: 2;
    }

    #cityAccommodationsContainer {
        width: 90%;
        margin: auto;
    }

    /*#cityAccommodationsList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }*/

    #cityAccommodationsList a {
        display: flex;
        flex-direction: column;
        height: 200px;
        padding: 5px;
        background-color: white;
        border-radius: 20px;
        color: black;
        margin-top: 10px;

        text-decoration: none;

        box-shadow: -2px 0 8px #c5c5c5;
        /*box-shadow: 2px 2px#c5c5c52c, -0.2em 0 0.4em #c5c5c5;*/
    }

    #cityAccommodationsList a img {
        height: 120px;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }

    .cityAccommodationsDescription {
        height:100%;
        margin: 10px;
    }

    .cityAccommodationsDescription h3 {
        margin: 0;
        font-size: 15px;
    }

    .cityAccommodationsDescription p {
        font-size: 14px;
        margin: 0;
    }

    .cityAccommodationsDescription span {
        font-size: 10px;
        color:#0065fc;
    }

    /*END CITY ACCOMMODATIONS*/

    /*RESPONSIVE CITY ACCOMMODATIONS 600px */

    @media screen and (min-width: 600px) {
        
        #cityAccommodations {
            background-color: #F2F2F2;
        }
        
        #cityAccommodationsList a {
            width: 30%;
        }
        
        #cityAccommodationsList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        }
    }

    /*END RESPONSIVE CITY ACCOMMODATIONS 600px*/

    /*POPULAR ACCOMMODATIONS*/

    #popularAccommodations {
        background-color: #F2F2F2;
    }

    #popularAccommodationsContainer {
        width: 90%;
        margin: auto;
        margin-bottom: 20px;
    }

    #popularAccommodationsContainer a {
        display: flex;
        height: 100%;
        padding: 5px;
        background-color: white;
        border-radius: 20px;
        color: black;
        margin-top: 10px;

        text-decoration: none;
    }

    #popularAccommodationsContainer a img {
        height: 120px;
        object-fit: cover;
        border-radius: 20px 0px 0px 20px;
        width: 40%;
    }
    
    .popularAccommodationsDescription {
        height:100%;
        margin: 10px;
    }

    .popularAccommodationsDescription h3 {
        margin: 0;
        font-size: 15px;
    }

    .popularAccommodationsDescription p {
        font-size: 14px;
        margin: 0;
    }

    .popularAccommodationsDescription span {
        font-size: 10px;
        color:#0065fc;
    }

    /*END POPULAR ACCOMMODATIONS*/

/*END ACCOMMODATIONS*/

/*RESPONSIVE ACCOMMODATIONS 1200px*/

@media screen and (min-width: 1200px) {
    
    #accommodations {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        /*display: grid;
        grid-template-columns: 65% 30%;
        grid-column-gap: 5%;*/
    }

    /*RESPONSIVE CITY ACCOMMODATIONS*/
    #cityAccommodations {
        border-radius: 20px;
        /*margin-right: 10%;*/
        width: 65%;
    }
    /*END RESPONSIVE CITY ACCOMMODATIONS*/

    /*RESPONSIVE POPULAR ACCOMMODATIONS*/
    #popularAccommodations {
        border-radius: 20px;
        width: 30%;
        order: 2;
    }

    /*#popularAccommodationsContainer a img {
        width: 40%;
    }*/
    /*END RESPONSIVE POPULAR ACCOMMODATIONS*/    
}
/*END RESPONSIVE ACCOMMODATIONS 1200px*/

/*ACTIVITIES*/

#activitiesContainer {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
}

#activitiesContainer a img {
    height: 130px;

    object-fit: cover;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

#activitiesList a {
    display: flex;
    flex-direction: column;

    box-shadow: -2px 0 8px #c5c5c5;
    padding:5px;
    margin-top: 20px;
    /*margin-bottom: 20px;*/
    border-radius: 20px;
    text-decoration: none;
    color: black;
}

/*END ACTIVITIES*/

/*RESPONSIVE ACTIVITIES*/

@media screen and (min-width: 450px) and (max-width: 1200px) {

    #activitiesContainer a img {
        height: 200px;
    }

    #activitiesContainer a {
        margin:0px;
        margin-bottom: 20px;
    }

}

@media screen and (min-width: 1200px) {

    #activitiesContainer {
        width: 100%;
    }
    
    #bloc2 {
        display: flex;
        flex-direction: column;
        margin:0px 20px;
        height: 400px;
    }

    #bloc4 {
        display: flex;
        flex-direction: column;
        margin-left:20px;
        /*height: 500px;*/ 
    }

    #activitiesList {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;    
    }

    #activitiesList > a {
        width:25%
    }
    
    #activitiesList > div {
        width:25%
    }

    #activitiesList > a img {
        height:100%
    }
}


/*END RESPONSIVE ACTIVITIES*/