body {
	font-family: 'Raleway', sans-serif;
    margin: auto;   
}

#container {
	width: 100%;
    max-width: 1200px;
    margin: auto;
}

/*HEADER*/

header {
	display: flex;
	justify-content: space-between;
    height: 50px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
	display: flex;
}

nav li {
	list-style: none;
	padding-left: 30px;
}

/*END HEADER*/

/*MAIN*/

/*ACCOMMODATIONS*/

#accommodations {
    display: flex;
}

/*CITY ACCOMMODATIONS*/

#cityAccommodations {
    background-color: #F2F2F2;   
}

#cityAccommodationsContainer {
    width: 90%;
    margin: auto;
}

#cityAccommodationsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#cityAccommodationsList a {
    display: flex;
    flex-direction: column;
    height: 190px;
}

#cityAccommodationsList a img {
    height: 150px;
    object-fit: cover;
}

.cityAccommodationsDescription {

}


/*END CITY ACCOMMODATIONS*/

/*POPULAR ACCOMMODATIONS*/

#popularAccommodations {
    background-color: #F2F2F2;
}

#popularAccommodationsContainer {
    width: 90%;
    margin: auto;
}

#popularAccommodationsContainer a {
    display: flex;
    height: 150px;
    background-color: white;
    color: black;
}

#popularAccommodationsContainer a img {
    object-fit: cover;
    width: 45%;
    height: 150px;
}

.popularAccommodationsDescription {

}

/*END POPULAR ACCOMMODATIONS*/

/*ACTIVITIES*/

/*END ACTIVITIES*/