body {
	font-family: 'Roboto', sans-serif;
	display: flex;
    justify-content: center;    
}

#container {
	width: 100%;
	max-width: 1200px;
}

header {
	display: flex;
	justify-content: space-between;
    height: 50px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
	display: flex;
}

nav li {
	list-style: none;
	padding-left: 30px;
}

#hebergementsVille {
    display: flex;
    height: 900px;
    background-color: #F2F2F2;
}

#hebergementsListe {
    width: 75%;     
}

#hebergementsListe li {
    height: 450px;     
}

#hebergementsListe img {
    width: 100%;
    height: 30%;
    object-fit: cover;
}

#hebergementsListeImg {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

#hebergementsListeImg li {
    width: calc(100% / 3);
}

#hebergementsPopulaires {
    width: 25%;
}

#hebergementsPopulaires {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

#hebergementsPopulaires img {
    width: 100%;
    height: 30%;
    object-fit: cover;
}

#hebergementsPopulaires li {
    width: 100%;
    height: 300px;
    list-style: none;
}

#activitesListe {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 600px;
    background-color: #F2F2F2;
}

#activitesListe li {
    width: 100%;
    height: 300px;
    list-style: none;
}

#activitesListe {
    width: 100%;
}

#activitesListe > li {
    width: 25%;
}

#activitesListe img {
    width: 100%;
    height: 30%;
    object-fit: cover;
}